:root {
  --vDarkBlue-mainBG: hsl(233, 47%, 7%);
  --darkBlue-cardBG: hsl(244, 38%, 16%);
  --softViolet-accent: hsl(277, 64%, 61%);

  --white: hsl(0, 0%, 100%);
  --white-mainParagraph: hsla(0, 0%, 100%, 0.75);
  --white-statHeadings: hsla(0, 0%, 100%, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

/*****************
***Body section***
******************/

body {
  min-height: 100vh;
  background: var(--vDarkBlue-mainBG);
  display: grid;
  place-items: center;
  font-family: "Inter", sans-serif;
  text-align: center;
  /*font-family: "Lexend Deca", sans-serif;*/
}

main {
  min-height: 100vh;
  width: 375px;
  padding: 3rem 1.5rem;
  display: grid;
  place-items: center;
}

/*******************
***Flex container***
********************/

.container {
  max-width: 100%;
  background: var(--darkBlue-cardBG);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

/****************
***Img section***
*****************/

#imgBG {
  background-color: var(--softViolet-accent);
  max-width: 100%;
  overflow: hidden;
}

#imgDiv {
  width: 327px;
  height: 240px;
  background: url("./images/image-header-mobile.jpg");
  background-size: contain;
  opacity: 0.45;
}

/*****************
***Text section***
******************/

.textSection {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
}

h1 {
  padding: 1rem 0;
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--white);
}

h1 > span {
  color: var(--softViolet-accent);
}

.textSection > p {
  color: var(--white-mainParagraph);
  padding: 1rem 0;
  font-size: 15px;
  line-height: 1.5;
}

/******************
***Stats section***
*******************/

.stats {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

.items {
  padding: 0.5rem 0;
}

.items > h2 {
  color: var(--white);
  padding: 0.25rem 0;
}

.items > p {
  color: var(--white-statHeadings);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-variant: small-caps;
}

/****************
***Media query***
*****************/

@media screen and (min-width: 750px) {
  body {
    text-align: left;
  }
  main {
    width: 90vw;
    padding: 10rem;
    display: grid;
    place-items: center;
  }

  .container {
    flex-direction: row-reverse;
    max-height: 446px;
  }

  #imgDiv {
    width: 540px;
    height: 446px;
    background: url("./images/image-header-desktop.jpg");
    opacity: 0.45;
  }

  .textSection {
    width: 60%;
    padding: 4rem;
  }
  .stats {
    max-width: 90%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
  }
}
