:root {
  --vDarkBlue-mainBG: hsl(233, 47%, 7%);
  --darkBlue-cardBG: hsl(244, 38%, 16%);
  --softViolet-accent: hsl(277, 64%, 61%);

  --white: hsl(0, 0%, 100%);
  --white-mainParagraph: hsla(0, 0%, 100%, 0.75);
  --white-statHeadings: hsla(0, 0%, 100%, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

/*****************
***Body section***
******************/

body {
  min-height: 100vh;
  background: var(--vDarkBlue-mainBG);
  display: grid;
  place-items: center;
  font-family: "Inter", sans-serif;
  text-align: center;
  /*font-family: "Lexend Deca", sans-serif;*/
}

main {
  min-height: 100vh;
  width: 375px;
  padding: 3rem 1.5rem;
  display: grid;
  place-items: center;
}

/*******************
***Flex container***
********************/

.container {
  max-width: 100%;
  background: var(--darkBlue-cardBG);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

/****************
***Img section***
*****************/

#heroBG {
  background-color: var(--softViolet-accent);
  max-width: 100%;
  overflow: hidden;
}

#hero {
  max-width: 100%;
  max-height: 100%;
  opacity: 0.45;
  display: block;
}

